body{
	background: #e6e6e6;
}
.hide, .hidden{
	display: none;
}
.pageContent{
	display: inline-block;
	width: 700px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.sideBar{
	display: inline-block;
	width: 250px;
	vertical-align: top;
	margin-left: 8px;
	background: white;
	border-radius: 5px;
	padding: 20px 10px;
}
@media only screen and (max-width: 1024px){
	.sidebar {
	    margin: 20px auto auto auto;
	    float: none;
	    width: auto;
	}
}